%p#notice= notice

%p
  %b Clubid:
  = @club.clubid
%p
  %b Clubname:
  = @club.clubname
%p
  %b Description:
  = @club.description

= link_to 'Edit', edit_club_path(@club)
\|
= link_to 'Back', clubs_path
