= form_for @event_member do |f|
  - if @event_member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event_member.errors.count, "error")} prohibited this event_member from being saved:"
      %ul
        - @event_member.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :EventId
    = f.number_field :EventId
  .field
    = f.label :UserId
    = f.number_field :UserId
  .field
    = f.label :Attended
    = f.check_box :Attended
  .actions
    = f.submit 'Save'
