%p#notice= notice

%p
  %b Eventid:
  = @event_member.EventId
%p
  %b Userid:
  = @event_member.UserId
%p
  %b Attended:
  = @event_member.Attended

= link_to 'Edit', edit_event_member_path(@event_member)
\|
= link_to 'Back', event_members_path
