%p#notice= notice

%p
  %b Eventid:
  = @event.eventid
%p
  %b Clubid:
  = @event.clubid
%p
  %b Startdate:
  = @event.startdate
%p
  %b Enddate:
  = @event.enddate

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
