= form_for @club_member do |f|
  - if @club_member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@club_member.errors.count, "error")} prohibited this club_member from being saved:"
      %ul
        - @club_member.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :ClubId
    = f.number_field :ClubId
  .field
    = f.label :UserId
    = f.number_field :UserId
  .field
    = f.label :IsAdmin
    = f.check_box :IsAdmin
  .actions
    = f.submit 'Save'
