%p#notice= notice

%p
  %b Clubid:
  = @club_member.ClubId
%p
  %b Userid:
  = @club_member.UserId
%p
  %b Isadmin:
  = @club_member.IsAdmin

= link_to 'Edit', edit_club_member_path(@club_member)
\|
= link_to 'Back', club_members_path
